* {
    font-size: 1rem;
}

.search-location {
    position: relative;
}

.search-input {
    height: 50px;
    border-radius: 30px;
    padding-left: 35px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#todayForecast {
    background-color: aqua;
}

.align-with-todayFocus{ 
  width: 80%;
  margin: 0 auto;
  
}


.todayFocus {
    background-color: white;
    width: 80%;
    margin: 1.5rem auto;
    border-radius: 8px;
    border: solid 1px blue;
    box-shadow: 0 4px 12px rgba(9, 85, 166, 0.3);
}

.timeStamp {
    font-weight: 600;
    font-size:1.2rem;
    color:#888;
}

#fiveDayForecast {
    background-color: red;
}

.dayBox {
    border-radius: 8px;
    background-color: aquamarine;
    border: none;
    box-shadow: 0 4px 12px rgba(9, 85, 166, 0.3);
    margin:10px

}


@media (max-width: 767.98px) {
  .searchCity,
  .timeStamp {
    text-align: center;};

    .todayFocus {
    flex-grow: 1;
  };


}